body {
	margin: 5%;
	background-image: linear-gradient(45deg, rgb(235, 26, 235), blue);
}

.cabecalho {
	background-image: url(/src/imagens/cidade.png);
	background-position: center center;
	background-size: 100%;
	text-align: center;
}

.paginacao {
	text-align: center;
}

a:hover,
a:visited,
a:active {
	color: rgb(0, 253, 215);
	opacity: 0.3;
}

.imagem-de-exemplo {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.icone:hover {
	opacity: 0.3;
}

.icone {
	text-decoration: none;
}

.redes-sociais {
	text-align: center;
	border-radius: 100px;
}

footer {
	text-decoration: none;
	background-image: url(/src/imagens/fundo-para-footer.png);
	background-position: center center;
	background-size: 100%;
}

.plataformas-de-ensino a:hover {
	opacity: 1;
	color: rgb(254, 251, 89);
}

h3 a img {
	width: 20px;
}

.imagem-de-certificado img {
	width: 35%;
	height: 50%;
	margin: 3% 5% 3% 9%;
}
